* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --bodyColor: #d9d9d9;
   --cardColor: #2e2f33;
   --buttonColor: #2ebd59;
}

body {
   background-color: var(--bodyColor);
}

form {
   color: #fff;
   background-color: var(--cardColor);
   width: 300px;
   height: 400px;
   border-radius: 5px;
   margin: 15vh auto;
   box-shadow: -5px 5px 15px black;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

[type="text"], [type="password"], button {
   width: 100%;
   height: 35px;
   border-radius: 40px;
   border: none;
}
.pad {
   padding: 15px;
}
button {
   color: #fff;
   background-color: var(--buttonColor);
   cursor: pointer;
}
/*parte de cima*/
.sign-card {
   width: 50%;
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
}
.sign-card a {
   text-decoration: none;
   color: #fff;
}
.sign-card a:hover {
   border-bottom: solid 1px var(--buttonColor);
}


.checkbox-div {
   width: 80%;
}
 
.content-card {
   width: 60%;
   height: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}